* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; /* Allow height to adjust based on content */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: #32292F;
  background-size: cover;
}

.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  height: 12vh;
  color: black;
  width: 100%;
  background-color: rgba(50, 41, 47, 0.9);
  z-index: 2;
}

.landingPage {
  padding-top: 50px;
  background-color: transparent;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  min-height: 600px;
  font-family: 'JetBrains Mono';
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  /* background-color: #32292F; */
}

.leftText {
  padding: 0 0 5% 5%;
  padding-top: 5%;
  font-size: 50px;
  line-height: 60px;
  height: 90%;
  color: #F0F7F4;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 8% 10% 0% 10%;
}

.rightText {
  font-family: 'JetBrains Mono';
  font-size: 25px;
  color: #708BAF;
  text-align: center;
}

.aboutMePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 20px;
  background-color: #708BAF;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #99E1D9;
  border-right: 5px solid #99E1D9;
  border-left: 5px solid #99E1D9;


}

.aboutTitle {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 40px;
  color: #F0F7F4;
  margin-bottom: 20px;
  text-align: center;
}

.aboutPageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.aboutTxt {
  flex: 1;
  padding: 20px;
  font-family: 'Poppins', sans-serif; 
  font-size: 23px;
  color: #F0F7F4;
}

.aboutMeText {
  list-style-type: none;
  padding: 0;
}

.highlight {
  color: #99E1D9;
  font-weight: bold;
}

.aboutImg {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  position: relative;
}

.aboutMeImage {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.skillsPage {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #708BAF; /* Background color for the skills section */
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom: 5px solid #99E1D9;
    border-right: 5px solid #99E1D9;
    border-left: 5px solid #99E1D9;
  
}

.skillsTitle {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 40px;
    color: #F0F7F4;
    margin-bottom: 30px;
    text-align: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between items */
    width: 100%;
    max-width: 1200px; /* Limit the width */
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #32292F; /* Background color for each skill */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow-y: auto;
    position: relative;
}

.language:hover {
    transform: scale(1.05); /* Scale effect on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

.languageIcon {
    width: 60px; /* Set a fixed size for icons */
    height: 60px;
    margin-bottom: 10px; /* Space between icon and text */
}

.languageName {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #F0F7F4; /* Text color */
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 80px;
  padding: 0px 0px 0px 0px;
  height: 80px;
}

.logo:hover{
  scale: 1.1;
  transition: 0.5s;
}

.nav-links {
  width: 92%;
  display: flex;
  justify-content: flex-end;
  padding-left: 180px;
  align-items: center;
  margin-right: auto;
}

.navOption {
  display: flex;
  color: #F0F7F4;
    height: 45px;
  width: 120px;
  align-items: center;
  justify-content: center;
  
}

.navOptionText:hover{
  scale: 1.1;
  transition: 0.3s;
  color: #708BAF  
}


.linkedin {
  margin-left: 20px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}
.linkedin:hover{
  scale: 1.1;
  transition: 0.5s;
}

.github {
  width: 35px;
  height: 35px;
}
.github:hover{
  scale: 1.1;
  transition: 0.5s;
}
.navOptionText {
  font-family: 'Inter';
  font-weight:normal;
  font-size: 18px;
  color: #F0F7F4;
  text-decoration: none;
  cursor: pointer;
}


.projectScreen{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
  font-family: 'JetBrains Mono';
   
}
.project{
  padding: 40px;
}
.projectImage{
  width: 600px;
  height: 300px;
  border-radius: 40px;
  display: block;
    transition: opacity 0.5s ease;
}


.githubP {
  width: 35px;
  height: 35px;
  text-align: center;

}


.pDescription{
  color: darkgray;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Jetbrains Mono';
}


.githubP:hover{
  scale: 1.1;
  transition: 0.5s;
}
.navOptionText.active {
  color: #708BAF;
}



#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}


.timeline {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.project-indent{
  padding-left: 50px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 37%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #708BAF;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 70px 0;
  display: flex;
  align-items: center;
}

.inP{
  width: 35px;
  height: 35px;
}
.timeline-dot {
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #708BAF;
  border-radius: 50%;
}

.project-name {
  padding-left: 50px;
  width: 30%;
  margin-right: 90px;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-right: 20px;

}

.project-name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -115px;
  width: 140px;
  height: 4px;
  background-color: #708BAF;
}


.project-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px; 
  background-color: #708BAF;
  border: 5px solid #708BAF;
  border-radius: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  color: #F0F7F4;
  position: relative;
  font-size: 20px;
}

.bracket {
  font-weight: bold;
  margin-bottom: 0; 
}

.greeting {
  margin: 0;
  padding-top: 8%;

  padding-bottom: 1%;
  padding-left: 1.2em;
  line-height: 1.2;
}

.name {
  font-size: 60px;
  font-weight: bold;
  color: #5a6f91;
  margin: 0;
  padding-bottom: 0.5em;
  padding-left: 1.2em;
  line-height: 1.2;
}

.middle-bracket {
  color: #F0F7F4;
  margin: 0;
  padding-left: 2em;
}

.description {
  color: #F0F7F4;
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
  padding-left: 6em;
  line-height: 1.2; 
}



.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  width: 80%;
  padding: 20px;
  
}
.projectsTitle{
  color: #708BAF;
  font-weight: bold;
  display: flex;
  font-family: 'Jetbrains Mono';
  font-size: 40px;
  justify-content: center;
  padding-bottom:70px ;
  padding-top: 120px;
  position: relative;
}
.projectsPage{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Jetbrains Mono';
    font-size: 35px;
  position: relative;
  z-index: 1;
}

.projectCard {
  background-color: #708BAF;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin: 20px;

}

.projectCard:hover {
  transform: scale(1.05);
}



.projectInfo {
  padding: 20px;
}

.projectName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  height: 50px;

}

.projectDescription {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 15px;
}

.project-button {
  background-color: #99E1D9;
  color: #F0F7F4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; 
  transition: transform 0.5s ease;
  display: inline-block; 
  width: 230px;
}

.project-button:hover {
  transform: scale(1.1);
}

.detailedDescription {
   font-family: 'Inter';
  font-size: 60%;
  display: none; 
  background-color: #708BAF; 
  color: #F0F7F4; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
}


.toggle {
  display: none;
}

.toggle:checked ~ .projectInfo .detailedDescription {
  display: block;
}


.projectImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}
.projectImage.contain {
  object-fit: contain;
}

.projectInfo {
  padding: 20px;
}
.projectButton {
  background-color: #32292F;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.projectButtons {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  position: relative;
}

.toggle:checked ~ .projectInfo .projectButtons {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  position: relative;
  pointer-events: none;
}


.projectButton:hover {
  background-color: #5a6f91;
}

ul li {
  padding-bottom: 10px;
}

.projectImage,
.projectInfo .projectName,
.projectInfo .projectDescription,
.projectInfo .projectButtons,
.projectInfo .detailedDescription {
  transition: opacity 0.4s ease, transform 0.9s ease;
}

.projectInfo .detailedDescription {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(20px);
  pointer-events: none;
  z-index: -1;
}

.toggle:checked ~ .projectInfo .detailedDescription {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  pointer-events: auto;
  z-index: 1;
}

.toggle:checked ~ .projectImage,
.toggle:checked ~ .projectInfo .projectName,
.toggle:checked ~ .projectInfo .projectDescription,
.toggle:checked ~ .projectInfo .projectButtons {
  opacity: 0;
  transform: translateY(-20px);
  position: absolute;
  pointer-events: none;
}


@media only screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
    height: auto;
  }

  .nav-links {
    display: none;
  }

  .landingPage {
    height: auto;
    background-image: none;
    padding-top: 60px;
    min-height: 0px;
  }

  .leftText {
    font-size: 10px;
    line-height: 40px;
    padding: 5% 5%;
  }
  .name{
    font-size: 20px;

  }
  .description{
    font-size: 10px;
  }
  


  .rightText {
    display: none
  }
  .aboutMePage{
    padding-top: 5px;
    padding-bottom:5px ;
  }

  .aboutPageRow {
    flex-direction: column;
  }

  .aboutTxt, .aboutImg {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 10px;
  }

  .aboutImg {
    width: 28%;
    height: 40%;
    padding: 0;
  }

  .skillsTitle, .projectsTitle {
    font-size: 20px;
  }
  .project-name::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -80px;
    width: 120px;
    height: 4px;
    background-color: #708BAF;
  }




  .language {
    padding: 0 30px;
  }

  .timeline {
    width: 100%;
  }
  .project-description {
    left: -10%;
    padding: 5px;    width: 800px;
    padding-left: 0px;
    padding-right: 20px;
   
  }
  

  .timeline::before {
    left: 37%;
  }

  .timeline-dot {
    left: 37%;
  }
  .project-name {
    width: 100%;
    padding: 5px;
  }
  .project-name{
    font-size: 18px;
    padding-right: 50px;
  }


  .project-description {
    font-size: 10px;
    padding-right: 5px;
  }
  .aboutMePage{
    padding-top: 0px;
    
    border-radius: 0%;
  
  }

.skillsPage{
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  position: relative;
  z-index: 1;
}
.aboutTitle{
  font-size: 20px;
}
.skillsTitle{
  font-weight: bold;
  display: flex;
  font-family: 'JetBrains Mono';
  font-size: 20px;
  color: #708BAF;
  justify-content: center;
  padding-bottom:10px ;
  padding-top: 100px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.languageScreen {
    padding: 0px 0;
    width: 100%;
    z-index: 1;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    transition: transform 0.5s ease;
}

.language:hover {
    transform: scale(1.1);
}
.languageIcon{
  width: 40px;
  height: 40px;
}

.languageName{
  display: flex;
  justify-content: center;
  font-family: 'Jetbrains Mono';
  margin: 0;
  font-weight: bolder;
  font-size: 10px; 
}

.languageTechnology{
  display: flex;
  justify-content: center;
  font-family: 'Jetbrains Mono';
  font-weight: bolder;
  font-size: 7px; 
    margin: 0;
}

.project-name{
  font-size: 15px;
}
  
}
