body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* background-image: url("images/background.jpg"); */
  background-color: #32292F;
  background-size: cover;
}

.navigation {
  position: fixed; /* add this */
  display: flex;
  align-items: center;
  height: 12vh;
  color: black;
  width: 100%;
  /* background-image: url(images/navbar.png); */
  background-color: #32292F;
  z-index: 2;
}


.landingPage{
  padding-top: 50px;
  /* background-image: url("images/Untitled\ \(1\).png"); */
  background-color:#32292F;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  justify-content: center;
  min-height: 600px;
  font-family: 'JetBrains Mono';
  flex-wrap: wrap;

}

.leftText{
  padding: 0 0 5% 5%;
  padding-top: 5%;

  font-size: 36px;
    line-height: 60px;
    height: 90%;
    color: #F0F7F4;
}

.right{
  display: flex;
  flex-direction: column;
  padding: 0 8% 20% 10%;
  padding-top: 10%;

}
.rightText{
  /* padding: 0 8% 20% 10%; */
  font-family: 'JetBrains Mono';
  font-size: 23px;
  color: #F0F7F4;
  text-align: center;
}

.aboutMePage{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;

  /* min-height: 450px; */
  /* border-top: 7px solid white; */
  /* border-bottom: 7px solid white; */
  /* background-image: url(images/wave.webp); */
  background-size: cover;
  background-color: #99E1D9;
  border-radius: 5%;



}
.aboutTitle{
  justify-content: center;
  font-family: 'JetBrains Mono';
  font-size: 40px;
  color: #708BAF;

}
.aboutPageRow {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 5px solid white;
  border-radius: 5%; */
  padding-bottom: 50px;
}


.aboutTxt{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  width: 100%;
  height: 100%;
  font-family: 'JetBrains Mono';
  font-size: 23px;
  color: #32292F;

}
.aboutImg{
  width: 30%; 
  padding-left: 30px;
  padding-right: 10px;
}

.aboutMeImage{
  border: 3px solid #32292F;
  
  border-radius: 40px;
  width: 80%;
 
}

.skillsPage{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative; /* To contain the absolutely positioned particles */
  /* z-index: 1; */


  
}
.skillsTitle{
  font-weight: bold;
  display: flex;
  font-family: 'JetBrains Mono';
  font-size: 40px;
  justify-content: center;
  padding-bottom:10px ;
  padding-top: 50px;
  padding-bottom: 70px;



}

.skills{
  display: flex;
  animation: moveSkills 30s linear infinite;
}
.languageScreen{
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;  
  width: 99.5%;
  align-self: center;
  align-items: center;
  border-top: 8px solid  #708BAF;
  border-bottom: 8px solid  #708BAF;
  /* border-radius: 50px; */
  /* border: 10px solid white; */
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}

.languageName{
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  margin: 0;
  font-size: 30px; 
}


.language{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 70px; /* Adjust spacing between skills */
  font-size: 1.5rem; /* Adjust font size as needed */
  align-items: center;
}
.languageTechnology{
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-size: 20px; 
  margin: 0;
}
@keyframes moveSkills {
  0% {
      transform: translateX(20%);
  }
  100% {
      transform: translateX(-30%);
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 80px;
  padding: 0px 0px 0px 0px;
  height: 80px;
}

.logo:hover{
  scale: 1.1;
  transition: 0.5s;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-left: 180px;
  align-items: center;
  margin-right: auto;
}

.navOption {
  display: flex;
  color: #F0F7F4;
    height: 45px;
  width: 120px;
  align-items: center;
  justify-content: center;
  
}

.navOptionText:hover{
  scale: 1.1;
  transition: o.5s;
  color: #708BAF  
}


.linkedin {
  margin-left: 20px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}
.linkedin:hover{
  scale: 1.1;
  transition: 0.5s;
}

.github {
  width: 35px;
  height: 35px;
}
.github:hover{
  scale: 1.1;
  transition: 0.5s;
}
.navOptionText {
  font-family: 'Inter';
  font-weight:normal;
  font-size: 18px;
  color: #F0F7F4;
  text-decoration: none;
  cursor: pointer;
}

.projectsTitle{
  font-weight: bold;
  display: flex;
  font-family: 'JetBrains Mono';
  font-size: 40px;
  justify-content: center;
  padding-bottom:70px ;
  padding-top: 90px;
}
.projectsPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Inter';
  font-size: 35px;
  /* border-top: 7px solid white; */

}
.projectScreen{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
  font-family: 'JetBrains Mono';
   
}
.project{
  padding: 40px;
}
.projectImage{
  width: 600px;
  height: 300px;
  border-radius: 40px;
  display: block;
    transition: opacity 0.3s ease; /* Smooth transition */
}


.githubP {
  /* align-self: flex-end;  */
  width: 35px;
  height: 35px;
  /* padding-left: 270px; */
  text-align: center;

}


.pDescription{
  color: darkgray;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Jetbrains Mono';
}


.githubP:hover{
  scale: 1.1;
  transition: o.5s;
}
.navOptionText.active {
  color: #708BAF;
}



#particles {
  position: absolute;
  width: 100%;
  height: 100%;


  top: 0;
  left: 0;
  /* z-index: -1;   */
}


.timeline {
  position: relative;
  /* max-width: 1000px; */
  width: 80%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}
.project-indent{
  padding-left: 50px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 37%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #708BAF;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 70px 0;
  display: flex;
  align-items: center;
}

.inP{
  width: 35px;
  height: 35px;
}
.timeline-dot {
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #708BAF;
  border-radius: 50%;
}

.project-name {
  padding-left: 50px;
  width: 30%;
  margin-right: 90px;
  text-align: center;
  font-weight: bold;
  /* width: 30%; */
  position: relative;
  padding-right: 20px;

}

.project-name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -115px; /* Adjust to control the length of the line */
  width: 140px;
  height: 4px;
  background-color: #708BAF;
}


.project-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px; 
  background-color: #708BAF;
  border: 5px solid #708BAF;
  border-radius: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  color: #F0F7F4;
  position: relative;
  font-size: 20px;
}

/* .project-description::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -7px; 
  width: 60px;
  height: 4px;
  background-color: #708BAF;
} */

.bracket {
  font-weight: bold;
  margin-bottom: 0; 
}

.greeting {
  margin: 0; /* Remove extra margin */
  padding-left: 1.5em; /* Indentation */
  line-height: 1.2; /* Adjust line height */
}

.name {
  font-size: 60px;
  font-weight: bold;
  color: #708BAF;
  margin: 0;
  padding-left: 1em;
  line-height: 1.2; /* Adjust line height */
}

.middle-bracket {
  margin: 0;
  padding-left: 2em; /* Indentation */
}

.description {
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
  padding-left: 6em;
  line-height: 1.2; /* Adjust line height */
}

@media only screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
    height: auto;
  }

  .nav-links {
    display: none; /* You can add a hamburger menu for mobile */
  }

  .landingPage {
    height: auto; /* Let the content dictate height on mobile */
    background-image: none;
    padding-top: 60px;
    min-height: 0px;
  }

  .leftText {
    font-size: 10px;
    line-height: 40px;
    padding: 5% 5%;
  }
  .name{
    font-size: 20px;

  }
  .description{
    font-size: 10px;
  }
  


  .rightText {
    display: none
  }
  .aboutMePage{
    padding-top: 5px;
    padding-bottom:5px ;
  }

  .aboutPageRow {
    flex-direction: column; /* Stack content on smaller screens */
  }

  .aboutTxt, .aboutImg {
    width: 100%; /* Ensure elements span full width on mobile */
    padding: 0;
    text-align: center;
    font-size: 10px;
  }

  .aboutImg {
    width: 28%; /* Make the image smaller on mobile */
    height: 40%;
    padding: 0;
  }

  .skillsTitle, .projectsTitle {
    font-size: 28px; /* Scale down titles for smaller screens */
  }
  .project-name::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -80px; /* Adjust to control the length of the line */
    width: 120px;
    height: 4px;
    background-color: #708BAF;
  }




  .language {
    padding: 0 30px; /* Adjust spacing between skill items */
  }

  .timeline {
    width: 100%; /* Make timeline width fit mobile screens */
  }
  .project-description {
    left: -10%;
    padding: 5px;    width: 800px;
    padding-left: 0px;
    padding-right: 20px;
   
  }
  

  .timeline::before {
    left: 37%; /* Center the vertical line for the timeline */
  }

  .timeline-dot {
    left: 37%;
  }
  .project-name {
    width: 100%;
    padding: 5px;
  }
  .project-name{
    font-size: 18px;
    padding-right: 50px;
  }


  .project-indent{
    padding-left: 10px;
  }
  .project-description {
    font-size: 7px; /* Adjust description font size */
    padding-right: 5px;
  }
  .aboutMePage{
    padding-top: 0px;
    
    border-radius: 0%;
  
  
  
  }
  
}
